{{- if default true .Params.sidebar }}
  <aside class="col-xxl-4 sidebar d-flex">
    <div class="container d-flex flex-column">
      {{- partialCached "sidebar/profile" . .Site }}
      {{ partial "hooks/sidebar-begin" . }}
      {{- if ne "content" .Site.Params.tocPosition }}
        {{- partial "sidebar/toc" . }}
      {{- end }}
      {{- partialCached "sidebar/taxonomies-toggle" . }}
      {{- partialCached "sidebar/taxonomies" . }}
      {{ partial "hooks/sidebar-end" . }}
    </div>
  </aside>
{{- end }}
